{% extends "SunChoi/base.html" %}
{% load static %}

{% block extra-style %}
<link href="{% static 'css/consultaRapida.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7 col-sm-7 ">
    {% block tipo %}tipo objeto(modelos){% endblock %}   
  </div>
  <div id="search" class="col-md-4 col-sm-4 container-fluid">
    <div class="bock-center text-center">
      <a type="button" href="/lista{{tipo_objeto}}" class="col-md-4 btn btn-primary block-center">Buscar</a>
      <input class="col-md-8 block-center" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    </div>
  </div>
    </div>
<div class="container">
{% if eliminar %}
  <div class="alert alert-danger col-lg-12 col-sm-12 text-center ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <form method="post">
      {% csrf_token %}
      Esta seguro que desea eliminar <strong >"{{ object }} " </strong> ?
      <input type="submit" class="btn btn-primary btn-sm" value="Eliminar" />
      <a class="btn btn-primary btn-danger btn-sm" href="/lista{{tipo_objeto}}/">cancelar</a>
    </form>    
  </div>
{% endif %}
  <table id="productos" class="table table-striped table-hover table-responsive">
    <thead class="text-center">
      <tr>
        {% block encabezadotablas %}
        {% endblock %}
        <th>EDITAR</th>
        <th>ELIMINAR</th>
      </tr>
    </thead>
    <tbody>
    {% for registro in object_list %}
      <tr>
        {%block elementostablas%}
        default elementos tablas
        {% endblock %}
        <td><a class="btn btn-primary" {% block hrefeditar %} {% endblock%} 
          value="Editar" class="btn btn-primary btn-sm"  >editar</a></td>
       <td><a class="btn btn-primary btn-danger" {% block hrefeliminar %} {% endblock%} value="Eliminar" class="btn btn-primary btn-sm"  >Eliminar</a></td>
      
      </tr>
    {% empty %}
      <tr>
        <td>todo los articulos tienen mas de esas cantidad.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<script>
function myFunction(){
  var input, filter, table, tr, td1,td2,td3, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("productos");
  tr = table.getElementsByTagName("tr");
  
  for (i=0;i<tr.length;i++){
    td1 = tr[i].getElementsByTagName("td")[1];
    td2 = tr[i].getElementsByTagName("td")[2];
    td3 = tr[i].getElementsByTagName("td")[3];
    if(td1 || td2 || td3){
      if(td1.innerHTML.toUpperCase().indexOf(filter)>-1 || td2.innerHTML.toUpperCase().indexOf(filter)>-1 ||td3.innerHTML.toUpperCase().indexOf(filter)>-1){
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
