<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" style="margin-top:10px; margin-left:50px; margin-right:50px">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
      <link rel="stylesheet" type="text/css" href="carga.css"/>
	  <script type="text/javascript">
		  myfunction(id){
			if (id == "estado1"){
				$("#barra").attr('animation','progreso2 3s');
				$("#estado1").attr('id','estado2');
			  }else if (id == "estado2"){
					$("#barra").attr('animation','progreso3 3s');
					$("#estado2").attr('id','estado3');
			  }else if (id == "estado3"){
					$("#barra").attr('animation','progreso4 3s');
					$("#estado3").attr('id','estado4');
			  }else if (id == "estado4"){
					$("#barra").attr('animation','progreso1 3s');
					$("#estado4").attr('id','estado1');
			  }
		  }
	  </script>
 </head>
 <body>
	<div id="contenedor">
	  <div id="barra">
	  </div>
	  <div id="inicio">&#8593;</div>
	  <div id="texto1">&#8593;</div>
	  <div id="texto2">&#8593;</div>
	  <div id="final">&#8593;</div>
	</div>
	  <button type="button" id="estado1" onclick="myfunction(this.id)">PRESS</button>
	  <script src="js/jquery-3.2.1.min.js"></script>
 </body>
</html>