{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Lista de Ordenes de Compra {% endblock %} 
{% block extra-style %}
<link href="{% static 'css/consultaRapida.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7 col-sm-7" style="color: #404046;">
   <h3 class="bock-center text-center" style="font-weight: bold;" >Ordenes de compra</h3>
  </div>
  <div id="search" class="col-md-4 col-sm-4 container-fluid">
    <div class="bock-center text-center">
       {% if user.is_superuser %}
      <a type="button" href="/menuglobal/" class="col-md-4 btn btn btn-primary btn-danger block-center">Atras</a>
      {%else %}
      <a type="button" href="/menuempleado/" class="col-md-4 btn btn btn-primary btn-danger block-center">Atras</a>
      {%endif%}
      <a type="button" href="/registrarordencompras/" class="col-md-4 btn btn-primary btn block-center">Registrar Nuevo</a>
      <input class="col-md-8 block-center" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    </div>
  </div>
    </div>
<div class="container">
{% if eliminar %}
  <div class="alert alert-danger col-lg-12 col-sm-12 text-center ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <form method="post">
      {% csrf_token %}
      Esta seguro que desea eliminar <strong >"{{ object }} " </strong> ?
      <input type="submit" class="btn btn-primary btn-sm" value="Eliminar" />
      <a class="btn btn-primary btn-danger btn-sm" href="/lista{{tipo_objeto}}/">cancelar</a>
    </form>    
  </div>
{% endif %}
  <table id="productos" class="table table-striped table-hover table-responsive">
    <thead class="text-center">
      <tr class="text-center">
        <th>N°          </th>
        <th>NUMERO     </th>
        <th>FECHA </th>
        <th>PROVEEDOR      </th>
        <th>USUARIO </th>
        <th>TOTAL COMPRA </th>
        <th class="text-center">EDITAR</th>
      </tr>
    </thead>
    <tbody>
    {% for registro in object_list %}
      <tr>
         <td>{{ forloop.counter     }}</td>
          <td>{{ registro.numero    }}</td>
          <td>{{ registro.fecha     }}</td>
          <td>{{ registro.id_proveedor}}</td>
          <td>{{ registro.id_usuario}}</td>
          <td align="right">${{ registro.total|stringformat:"2.3f"     }}</td>
        <td><a class="btn btn-primary" href="{% url 'SunChoi:ordencompra_ver'  registro.id_orden_compra %}"
          value="Editar" class="btn btn-primary btn-sm text-center"  >Ver detalle Orden Compra</a></td> 
      </tr>
    {% empty %}
      <tr>
        <td>NO existe informacion que presentar..</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<script>
function myFunction(){
  var input, filter, table, tr, td1,td2,td3, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("productos");
  tr = table.getElementsByTagName("tr");
  
  for (i=0;i<tr.length;i++){
    td1 = tr[i].getElementsByTagName("td")[1];
    td2 = tr[i].getElementsByTagName("td")[2];
    td3 = tr[i].getElementsByTagName("td")[3];
    if(td1 || td2 || td3){
      if(td1.innerHTML.toUpperCase().indexOf(filter)>-1 || td2.innerHTML.toUpperCase().indexOf(filter)>-1 ||td3.innerHTML.toUpperCase().indexOf(filter)>-1){
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
