{% extends "SunChoi/base.html" %}
{% load static %}

{% block title %} Consulta rapida{% endblock %} 
{% block extra-style %}
<link href="{% static 'css/consultaRapida.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %} 

{% if not lista %}
    <div class="container">
        <form  class="form-signin" method="GET" >
        	{% if error %} 
        		<H1 class="text-center">Consultar lista de producto con stock menor a : </H1>
        		<H1 class="text-center"> {{error}}</H1>
        		<button id="consultar" href="/bajostock/" class="btn btn-primary btn-block center-block" type="submit">Nuevo Consulta</button>
        		<br/><br/>
        	{% else %}
            	<H1 class="text-center">Consultar lista de producto con stock menor a {{ minimo }}: </H1>
            	{% csrf_token %}
	        	<label for="text" class=" text-center sr-only">Ingrese maximo de stock</label>
	            <input type="text" name="minimo"   id="inputEmail" class="form-control text-center center-block" placeholder="minimo stock" >
	            <br/>
				<button id="consultar" class="btn btn-primary btn-block center-block" type="submit">Consultar</button>
				<!--div id="botonesConsulta" class="row">
					<a id="atras" type="button" href="/menuglobal" class="col-md-6 btn btn-primary center-block" >Menu Global</a>
					<div class="col-md-1"></div>
					<button id="consultar" class="btn btn-primary btn-block col-md-6 center-block" type="submit">Consultar</button>
				</div-->
	            <br/>
	            <br/>
	        </form>
        	{% endif %}
            
    </div>
    <div class="row">
      <img class=" img-responsive img-center center-block" src="{% static 'img/REPORTE.png'  %}" alt="" width="500" height="300">              
    </div> 
{% else %}
    <br/>
		<div  class="row">
			<div class="col-md-7 col-sm-7 " style="color: #404046;">
    			<h3 class="bock-center text-center" >Consulta Rapida con un Stock Minimo</h3>
  			</div>
			<div id="search" class="col-md-4 col-sm-4 container-fluid">
				<div class="bock-center text-center">
				<!--<div class="col-md-8"> </div>-->
					{% if user.is_superuser %}
			      		<a type="button" href="/menuglobal/" class="col-md-2 btn btn btn-primary btn-danger block-center">Atras</a>
			      	{%else %}
			      		<a type="button" href="/menuempleado/" class="col-md-2 btn btn btn-primary btn-danger block-center">Atras</a>
			      	{%endif%}
					<a type="button" href="/bajostock" class="col-md-4 btn btn-primary">Nueva Consulta</a>
					<br>
					<br>
					<input class="col-md-6"type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
				</div>
			</div>
        <div class="container">
        
			<table id="productos" class="table table-striped">
				<thead>
				  <tr>
					<th>ITEM</th>
					<th>STOCK</th>
					<th>P. UNITARIO</th>
				  </tr>
				</thead>
				<tbody>
				{% for producto in lista %}
				
				  <tr>
					<td>{{producto.descripcion}}</td>
					<td>{{producto.stock}} {{producto.medida}}</td>
					<td>${{producto.precio_unitario}}</td>
				  </tr>
				{% empty %}
				  <tr>
					<td>todo los articulos tienen mas de esas cantidad.</td>
				  </tr>
				{% endfor %}
				</tbody>
			</table>
    </div>
	<script>
		function myFunction(){
			var input, filter, table, tr, td1,td2,td3, i;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("productos");
			tr = table.getElementsByTagName("tr");
			
			for (i=0;i<tr.length;i++){
				td1 = tr[i].getElementsByTagName("td")[0];
				td2 = tr[i].getElementsByTagName("td")[1];
				td3 = tr[i].getElementsByTagName("td")[2];
				if(td1 || td2 || td3){
					if(td1.innerHTML.toUpperCase().indexOf(filter)>-1 || td2.innerHTML.toUpperCase().indexOf(filter)>-1 ||td3.innerHTML.toUpperCase().indexOf(filter)>-1){
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
{% endif %}
{% endblock %}