{% extends "SunChoi/base.html" %}
{% load static %}

{% block title %} lOGOUT{% endblock %} 
{% block extra-style %}
<link href="{% static 'css/consultaRapida.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center block-center">Gracias por Usarnos</h1>
            <button href="/login/" type="button" class="btn btn-primary btn-block center-block">Iniciar Sesión</button>
        </div>
    </div>
</div>                  
{%endblock%}