{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Menu Global {% endblock %} 

{%block subtitulo %} Opciones Menu global{% endblock %}

{% block content %} 

<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center center-block" src="{% static 'img/uno.jpg'  %}" alt="" width="135" height="99">
        <h3><a href="/registrarventa">Registrar Ventas
        </a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center center-block " src="{% static 'img/dos.jpg'  %}" alt="" width="145" height="110">
        <h3><a href="/proveedores">Proveedores</a>
        </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center center-block" src="{% static 'img/tres.jpg'  %}" alt="" width="150" height="100" >
        <h3><a href="/compras">Compras
        </a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center center-block" src="{% static 'img/cuatro.png'  %}" alt="" width="155" height="105" >
        <h3><a href="/inventarios">Inventarios
        </a></h3>
    </div>
</div>
<br/>
<div class="row">
    
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{% static 'img/cinco.jpg'  %}" alt="" width="150" height="100" >
        <h3><a href="/cotizaciones">Cotizaciones
        </a></h3>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{% static 'img/seis.jpg'  %}" alt="" width="150" height="100" >
        <h3><a href="/registrarcliente">Registrar Clientes
        </a></h3>
    </div>
    
     <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{% static 'img/uno.jpg'  %}" alt="" width="150" height="100" >
        <h3><a href="/registrarproducto">Registrar Producto
        </a></h3>
    </div>
</div>
{% endblock %}
