{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Menu Global {% endblock %} 
{% block extra-style %}
<link href="{% static 'css/menuGlobal.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %} 
<br/><br/>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/bajostock"> <img  class="img-circle img-responsive img-center center-block" src="{% static 'img/ConsultaRapida.png'  %}" alt="" width="135" height="99"></a>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/inventario/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/Inventario.png'  %}" alt="" width="155" height="105" ></a>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarcliente/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/seis.png'  %}" alt="" width="150" height="100"></a>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarventa/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/Ventas.jpg'  %}" alt="" width="135" height="99">
    </div>
</div>
<br/><br/><br/>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/proformas/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/Cotizaciones.png'  %}" alt="" width="150" height="100" >
    </div>
    <div class="col-lg-3 col-sm-6 text-center">

    </div>
    <div class="col-lg-3 col-sm-6 text-center">

        </a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">

    </div>
</div>
<br/><br/><br/>
<div class="row">
     <div class="col-lg-3 col-sm-6 text-center">

    </div>
    <div class="col-lg-3 col-sm-6 text-center">

    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        
    </div>
    <div class="col-lg-3 col-sm-6 text-center">

    </div>
<!--
</div>
<br/><br/><br/>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
      
    </div>
    <div class="col-lg-3 col-sm-6 text-center">

    </div>
    <div class="col-lg-3 col-sm-6 text-center">

    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      
    </div>
</div>
-->
<script>
	document.getElemntById("formulario")
</script>
{% endblock %}