{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Menu Global {% endblock %} 
{% block extra-style %}
<link href="{% static 'css/menuGlobal.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %} 
<br/><br/>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/bajostock"> <img  class="img-circle img-responsive img-center center-block" src="{% static 'img/9menuglobal.jpg'  %}" alt="" width="135" height="99"></a>
        <h3><a href="/bajostock">Consulta rápida stock</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/inventario/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/cuatro.png'  %}" alt="" width="155" height="105" ></a>
        <h3><a href="/inventario/">Inventario </a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarcliente"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/seis.png'  %}" alt="" width="150" height="100"></a>
        <h3><a href="/registrarcliente">Registrar Clientes</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/listacliente/"><img class="img-circle img-responsive img-center center-block " src="{% static 'img/listaclientes.jpg'  %}" alt="" width="145" height="110"></a>
        <h3><a href="/listacliente/">Listar/Manipular Clientes</a></h3>
    </div>
</div>
<br/><br/><br/>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarventa/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/uno.jpg'  %}" alt="" width="135" height="99"></a>
        <h3><a href="/registrarventa/">Registrar Ventas</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/listafactura/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/listasVentas.jpg'  %}" alt="" width="135" height="99">
        </a><h3><a href="/listafactura/">Listar/Manipular Ventas</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/cotizaciones/"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/cinco.jpg'  %}" alt="" width="150" height="100" >
        </a><h3><a href="/registrarcotizacion">Registrar Cotización 
        </a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarcotizacion"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/listacotizaciones.jpg'  %}" alt="" width="150" height="100" >
        </a><h3><a href="/registrarcotizacion">Listar/Manipular Cotizaciones F</a></h3>
    </div>
</div>
<br/><br/><br/>
<div class="row">
     <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarproducto"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/regproduct.jpg'  %}" alt="" width="150" height="100" ></a>
        <h3><a href="/registrarproducto">Registrar Productos</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/listaproducto/"><img class="img-circle img-responsive img-center center-block " src="{% static 'img/listaproducto.jpg'  %}" alt="" width="145" height="110"></a>
        <h3><a href="/listaproducto/">Listar/Manipular Productos</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/compras"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/tres.jpg'  %}" alt="" width="150" height="100" ></a>
        <h3><a href="/registrarordencompras/">Registrar Orden de Compra</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/compras"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/listaordencompra.png'  %}" alt="" width="150" height="100" ></a>
        <h3><a href="/listaordencompra/">Listar/Manipular Compras</a></h3>
    </div>
</div>
<br/><br/><br/>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarproveedor"><img class="img-circle img-responsive img-center center-block " src="{% static 'img/dos.jpg'  %}" alt="" width="145" height="110"></a>
        <h3><a href="/registrarproveedor">Registrar Proveedores</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/listaproveedores"><img class="img-circle img-responsive img-center center-block " src="{% static 'img/listaproveedores.png'  %}" alt="" width="145" height="110"></a>
        <h3><a href="/listaproveedores">Listar/Manipular Proveedores </a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/registrarusuario"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/regusuario.jpg'  %}" alt="" width="150" height="100" ></a>
        <h3><a href="/registrarusuario">Registrar Usuarios</a></h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
        <a href="/listausuario"><img class="img-circle img-responsive img-center center-block" src="{% static 'img/listaempleados.jpg'  %}" alt="" width="150" height="100" ></a>
        <h3><a href="/listausuario"> Listar/Manipular Usuarios </a></h3>
    </div>
</div>
<script>
	document.getElemntById("formulario")
</script>
{% endblock %}
