{% extends "SunChoi/base.html" %}
{% load static %}

{% block title %} acceso no permitido{% endblock %} 
{% block extra-style %}
<link href="{% static 'css/consultaRapida.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center block-center">acceso no permitidos: no cuentas con las credenciales adecuadas para acceder a este sitio</h1>
             <a type="button" href="/login/" class="btn btn btn-primary btn-block center-block">Iniciar Sesión</a>
        </div>
    </div>
</div>                  
{%endblock%}