{% extends "SunChoi/base_lista.html" %}
{% load static %}

{% block title %} Lista de producto{% endblock %} 

{% block tipo %}<h3 class="bock-center text-center">Productos</h3>{% endblock %}

{%block encabezadostablas%}
        <th>N°</th>
        <th>NOMBRE </th>
        <th>DESCRIPCION</th>
        <th>STOCK</th>
        <th>P. UNITARIO</th>
{% endblock %}
{%block elementostablas%}
        <td> {{ forloop.counter  }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.stock}} {{producto.medida}}</td>
        <td>${{producto.precio_unitario}}</td>
{% endblock %}