{% extends "SunChoi/base.html" %}
  {% block content %} 
<h1>Productos<br/> consultar lista de producto con stock menor a {{ minimo }}</h1>
{% if not lista %}
    <form class="form-signin" method="GET" >
                    {% csrf_token %}
                    <label for="text" class="sr-only">Ingrese minimo de stock</label>
                    <input type="text" name="minimo"   id="inputEmail" class="form-control" placeholder="minimo stock" >
                    <br/>
                    <button id="entrar" class="btn btn-primary btn-block" type="submit">Consultar</button>
                    <br/>
                    <br/>
                </form>
{% else %}
    <br/>
    {% for producto in lista %}
    <ul> <!-- Producto N  {{ forloop.counter  }} -->
        <div>
        <li >Item: <b>{{producto.descripcion}}</b></li>
        <li>Stock: <b>{{producto.stock}} {{producto.medida}}</b></li>
        <li>Precio unitario: <b>${{producto.precio_unitario}}</b></li>
        </div>
    </ul>
    <br/>
    {% empty %}
        <li>todo los articulos tienen mas de esas cantidad.</li>
    {% endfor %}
{% endif %}
{% endblock %}