{% extends "SunChoi/base.html" %}
  {% block content %}
<h1>Productos<br/> consultar lista de producto con stock menor a {{ minimo }}</h1>
{% if not lista %}
    <form class="form-signin" method="GET" >
                    {% csrf_token %}
                    <label for="text" class="sr-only">Ingrese minimo de stock</label>
                    <input type="text" name="minimo"   id="inputEmail" class="form-control" placeholder="minimo stock" >
                    <br/>
                    <button id="entrar" class="btn btn-primary btn-block" type="submit">Consultar</button>
                    <br/>
                    <br/>
                </form>
{% else %}
    {% for producto in lista %}
    <ul> Producto N  {{ forloop.counter  }}    
        <br/>
        <li>    nombre :  {{ producto.nombre }}</li>
        <li>descripcion: {{ producto.descripcion}}</li>
        <li>  stock  : {{ producto.stock }}   </li>
    </ul>
    <br/>
    {% empty %}
        <li>todo los articulos tienen mas de esas cantidad.</li>
    {% endfor %}
{% endif %}
{% endblock %}