{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Registro de Ventas {% endblock %} 
{% block extra-style %}
<link href="{% static 'css/registrarVenta.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!--div class="container">
         <H1 class="text-center"> Registrar Venta </H1>
        <form  class="form-signin" action="{% url 'SunChoi:padd' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
              {{ form1.as_p }}
             {{ form2.as_p }}
            <input class="btn btn-primary btn-block" type="submit" value="Añadir Factura" />
        </form>
        </div-->
<div class="container" id="factura">
    <div id="cabecera">
		<div class="row" id="contenidoCabecera">
			<div id="contenidoCabecera1" class="col-md-4">
				<img class="img-responsive" src="{% static 'img/logoSunChoi.jpg' %}">
			</div>

			<div id="contenidoCabecera2" class="col-md-4">
				<label class="col-md-12">Dir. Matriz: {{ company.dir }}</label>
				<label class="col-md-12">Dir. Sucursal: {{ company.suc }}</label>
				<label class="col-md-12">R.U.C.: {{ company.ruc }}</label>
			</div>
			<div id="FacturaNumero"class="col-md-4">
				<h2>Factura No.</h2>
				<h3>026-022-000103973</h3>
			</div>
		</div>			
	</div>
	<!-- datos para facturacion  electrónica>
	<div id="datosSecundarios" class="row">
		<div id="contenidoDatosSecundarios">
			<div id="datosFactura" class="col-md-6">
				<p>Ambiente: </p>
				<p>Emision: </p>
				<p>Numero de Autorizacion: </p>
			</div>
			<div id="datosFactura" class="col-md-6">
				<p>Fecha de Emisión: </p>
				<p>Clave de Acceso: </p>
			</div>
		</div>
	</div>
	<-->
	<div id="datosComprador" class="row">
		<div id = "contenidoDatosComprador">
			<div id="RasonSocial" class="col-md-6">
				<label>Razon social / Nombre: </label>
				<input  placeholder="Razon social / Nombre">
			</div>
			<div id="DNI" class="col-md-6">
				<label>Ruc / CI: </label>
				<input  placeholder="Ruc/CI">
			</div>
		</div>
	</div>
	<div >
		<table id="detalle" class="table table-bordered">
			<thead>
			  <tr>
				<th>Cantidad</th>
				<th>Descripcion</th>
				<th>Unidades</th>
				<th>IVA</th>
				<th>Precio unitario</th>
				<th>Descuento</th>
				<th>Precio Total</th>
			  </tr>
			</thead>
			<tbody id="tbodyLineas">
			  
			</tbody>
		  </table>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div id="botonesFacturaLineas" class="col-md-12">
				<button id="agregar" onclick="agregarLinea()">Agregar linea</button>
				<button>Generar Totales</button>
			</div>
			<div id="comentarios" class="col-md-12">
				<div id="contenidoComentariosTexto">
					<textarea id="comentarioInput" rows="6" cols="85" placeholder="escribir comentario"></textarea>
				</div>
				<div id="contenidoComentariosLeyenda">					
					Comentarios
				</div>
			</div>
		</div>
		<div  class="col-md-4" id="totales">
			<table id="totalesTabla" class="table table-bordered">
				<tr>
					<th>Subtotal 12%:</th>
					<td id="subtotal12"></td>
				</tr>
				<tr>
					<th>Subtotal 0%:</th>
					<td id="subtotal0"></td>
				</tr>
				<tr>
					<th>Subtotal sin Impuestos:</th>
					<td id="subtotalSinImpuestos"></td>
				</tr>
				<tr>
					<th>Total Descuento:</th>
					<td id="totalDescuento"></td>
				</tr>
				<tr>
					<th>IVA 12%:</th>
					<td id="iva"></td>
				</tr>
				<tr>
					<th>Valor Total:</th>
					<td id="valorTotal"></td>
				</tr>	
			</table>
		</div>
	</div>
	<div id="botonesFactura" >
		<button >Guardar</button><button>Cancelar</button>
	</div>
</div>
<script>
	//var nLinea = 0;
	function agregarLinea(){
		var nLinea = 0;
		
		var tr = document.createElement("TR");
		tr.setAttribute("id",nLinea);
		
		var div = document.createElement("DIV");
		var idDiv = "divLinea"+nLinea;
		div.setAttribute("id",idDiv);
		var button = document.createElement("BUTTON");
		
		var td = document.createElement("TD");
		var input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td.appendChild(input);
		tr.appendChild(td);
		input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		input = document.createElement("INPUT");
		//input.setAttribute("form",idDiv);
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		
		//button.setAttribute("type","submit");
		var span = document.createElement("SPAN");
		span.setAttribute("class","glyphicon glyphicon-ok");
		button.setAttribute("id","guardarLinea"+nLinea);
		button.setAttribute("onclick","guardarLinea("+nLinea+")");
		button.appendChild(span);
		div.appendChild(button);
		
		button = document.createElement("BUTTON");
		span = document.createElement("SPAN");
		span.setAttribute("class","glyphicon glyphicon-remove");
		button.setAttribute("id","eliminarLinea"+nLinea);
		button.setAttribute("onclick","eliminarLinea("+nLinea+")");
		button.appendChild(span);
		div.appendChild(button);
		
		td = document.createElement("TD");
		td.appendChild(div);
		tr.appendChild(td);
		
		document.getElementById("tbodyLineas").appendChild(tr);
		
		nLinea += 1;
		
	}
	
	function eliminarLinea(id){
		$("#"+id).remove();
	}
	function guardarLinea(id){
		celdas = $("#"+id).find("td");
		celdas.each(function(indice){
			if(indice<celdas.length-1){
				valorInput = $(this.children).val();
				$(this.children).remove();
				$(this).text(valorInput);
			}
			else{
				$("#guardarLinea"+id).remove;
				var button = document.createElement("BUTTON");
				var span = document.createElement("SPAN");
				span.setAttribute("class","glyphicon glyphicon-remove");
				span.setAttribute("id","editarLinea"+id);
				button.setAttribute("onclick","editarLinea("+id+")");
				button.appendChild(span);
				$("#formulario"+id).append(button);
			}
		});
	}
	
	function editarLinea(id){
		console.log(id);
	}
</script>

 {% endblock %}        