{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Cotizaciones {% endblock %} 
{% block extra-style %}
<link href="{% static 'css/registrarVenta.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %}
<datalist class='col-md-6' id="productos">
  	{% for p in productos %}
    <option value="{{p.descripcion}}:{{p.stock}}:{{p.medida}}:{{p.precio_unitario}}">{{p.nombre}}:{{p.descripcion}}:{{p.stock}}</option>
    {% empty %}
    <option value="0">No hay productos</option>
	{% endfor %}
</datalist>
<datalist id="clientes">
  	{% for c in clientes %}
    <option value="{{c.nombre}}:{{c.apellido}}:{{c.dni}}">{{c.nombre}}:{{c.apellido}}</option>
    {% empty %}
    <option value="0">No hay clientes</option>
    {% endfor %}
</datalist>
<div class="container" id="factura">
    <div id="cabecera">
		<div class="row" id="contenidoCabecera">
			<div id="contenidoCabecera1" class="col-md-4">
				<img class="img-responsive" src="{% static 'img/Productos.jpg' %}">
			</div>

			<div id="contenidoCabecera2" class="col-md-4">
				<label class="col-md-12">Dir. Matriz: {{ company.dir }}</label>
				<label class="col-md-12">Dir. Sucursal: {{ company.suc }}</label>
				<label class="col-md-12">R.U.C.: {{ company.ruc }}</label>
			</div>
			<div id="FacturaNumero"class="col-md-4">
				<h2>Cotizacion No.</h2>
				<h3><input  placeholder="026022000" name="facturaN" form="formFactura" required></h3>
				<input id="nLineas" name="nLineas" form="formFactura" style="visibility: hidden" readonly >
			</div>
		</div>			
	</div>
	<!-- datos para facturacion  electrónica>
	<div id="datosSecundarios" class="row">
		<div id="contenidoDatosSecundarios">
			<div id="datosFactura" class="col-md-6">
				<p>Ambiente: </p>
				<p>Emision: </p>
				<p>Numero de Autorizacion: </p>
			</div>
			<div id="datosFactura" class="col-md-6">
				<p>Fecha de Emisión: </p>
				<p>Clave de Acceso: </p>
			</div>
		</div>
	</div>
	<-->
	<div id="datosComprador" class="row">
		<div id = "contenidoDatosComprador">
			<div id="RasonSocial" class="col-md-6">
				<label>Razon social / Nombre Cliente: </label>
					<input id="razonSocial" type="text" onchange="datosCliente(this.value)" list="clientes" name="nombrecliente" form="formFactura">
			</div>
			<div id="DNI" class="col-md-6">
				<label>Ruc / CI: </label>
				<input  id="dni" onchange="datosCliente(this.value)" list="clientes" placeholder="Ruc/CI" name="dnicliente" form="formFactura">
			</div>
		</div>
	</div>
	{%if mjsexitoso %}
		<div><p class="lead"><blockquote class= "text-center text-primary">{{mjsexitoso}}
		{% if user.is_superuser %}
      		<a href="/menuglobal/" class="btn btn-primary">Atras</a>
      	{%else %}
      		<a href="/menuempleado/">Atras</a>
      	{%endif%}</blockquote>
      		</p>
		</div>
	{% endif %}
	<div>
		<table id="detalle" class="table table-bordered">
			<thead>
			  <tr>
				<th>Cantidad</th>
				<th>Stock</th>
				<th>Descripcion</th>
				<th>Unidades</th>
				<th>%IVA</th>
				<th>Precio unitario</th>
				<th>Descuento</th>
				<th>IVA</th>
				<th>Precio Total</th>
			  </tr>
			</thead>
			<tbody id="tbodyLineas">
			  
			</tbody>
		  </table>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div id="botonesFacturaLineas" class="col-md-12">
				<button id="agregar" onclick="agregarLinea()">Agregar linea</button>
				<button onclick="totales(1)">Generar Totales</button>
			</div>
			<div id="comentarios" class="col-md-12">
				<div id="contenidoComentariosTexto">
					<textarea id="comentarioInput" rows="6" cols="85" placeholder="escribir comentario"></textarea>
				</div>
				<div id="contenidoComentariosLeyenda">					
					Comentarios
				</div>
			</div>
		</div>
		<div  class="col-md-4" id="totales">
			<table id="totalesTabla" class="table table-bordered">				
				<tr>
					<th>Subtotal sin Impuestos:</th>
					<td><input id="subtotalSinImpuestos" name="subtotalSinImpuestos" form="formFactura" type="text" readonly></td>
				</tr>	
				<tr>
					<th>Total Descuento:</th>
					<td><input id="totalDescuento" name="totalDescuento" form="formFactura" type="text" readonly></td>
				</tr>
				<tr>
					<th>IVA 12%:</th>
					<td><input id="iva" name="iva" form="formFactura" type="text" readonly></td>
				</tr>
				<tr>
					<th>Valor Total:</th>
					<td><input id="valorTotal" name="valorTotal" form="formFactura" type="text" readonly></td>
				</tr>	
			</table>
		</div>
	</div>
	<div id="botonesFactura" >
		<form id="formFactura" action="{% url 'SunChoi:cotizacionadd' %}">
			<button type="submit" >Guardar</button>
		</form>
		<a href="/proformas"><button>Cancelar</button></a>
	</div>
</div>
<script>
	var nLinea = 0;
	var maxStock = {default:0};
	function agregarLinea(){
		//var nLinea = 0;
		var tr = document.createElement("TR");
		tr.setAttribute("class","lineasFactura");
		tr.setAttribute("id",nLinea);
		
		var div = document.createElement("DIV");
		var idDiv = "divLinea"+nLinea;
		div.setAttribute("id",idDiv); 
		
		var button = document.createElement("BUTTON");
		
		//cantidad
		var td = document.createElement("TD");
		var input = document.createElement("INPUT");
		input.setAttribute("id","cantidad"+nLinea);
		input.setAttribute("name","cantidad"+nLinea);
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("style","width: 62px;");
		input.setAttribute("onkeyup","totalLinea("+nLinea+")");
		td.appendChild(input);
		tr.appendChild(td);
		//stock
		var td = document.createElement("TD");
		var input = document.createElement("INPUT");
		input.setAttribute("id","stock"+nLinea);
		input.setAttribute("type","text");
		input.setAttribute("readonly",true);
		input.setAttribute("style","width: 62px;");
		td.appendChild(input);
		tr.appendChild(td);
		//descripcion
		input = document.createElement("INPUT");
		input.setAttribute("id","descripcion"+nLinea);
		input.setAttribute("name","descripcion"+nLinea);
		input.setAttribute("style","width: 500px;");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("onchange","llenarLinea(this.value,"+nLinea+")");
		input.setAttribute("list","productos");
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		//unidades
		input = document.createElement("INPUT");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("id","unidades"+nLinea);
		input.setAttribute("name","unidades"+nLinea);
		input.setAttribute("style","width: 70px;");
		input.value = 0;
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		//%IVA
		var select = document.createElement("SELECT");
		select.setAttribute("type","text");
		select.setAttribute("form","formFactura");
		var option = document.createElement("OPTION");
		option.text = 12;
		select.appendChild(option);
		option = document.createElement("OPTION");
		option.text = 0;
		select.appendChild(option);
		select.setAttribute("id","porciva"+nLinea);
		select.setAttribute("onchange","totalLinea("+nLinea+")");
		td = document.createElement("TD");
		td.appendChild(select);
		tr.appendChild(td);
		//Precio Unitario
		input = document.createElement("INPUT");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("id","preUni"+nLinea);
		input.setAttribute("name","preUni"+nLinea);
		input.setAttribute("style","width: 70px;");
		input.setAttribute("onkeyup","totalLinea("+nLinea+")");
		input.value = 0;
		td = document.createElement("TD");
		td.appendChild(input);
		tr.appendChild(td);
		//descuento
		input = document.createElement("INPUT");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("id","desc"+nLinea);
		input.setAttribute("name","desc"+nLinea);
		input.setAttribute("style","width: 70px;");
		input.setAttribute("onkeyup","totalLinea("+nLinea+")");
		input.setAttribute("class","desc");
		input.setAttribute("editando","si");
		input.value = 0;
		td = document.createElement("TD");
			//td.setAttribute("class","desc");
		td.appendChild(input);
		tr.appendChild(td);
		//iva
		input = document.createElement("INPUT");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("id","iva"+nLinea);
		input.setAttribute("name","iva"+nLinea);
		input.setAttribute("style","width: 70px;");
		input.setAttribute("readonly",true);
		input.setAttribute("class","iva");
		input.setAttribute("editando","si");
		input.value = 0;
		td = document.createElement("TD");
			//td.setAttribute("class","iva");
		td.appendChild(input);
		tr.appendChild(td);
		//Precio Total
		input = document.createElement("INPUT");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("id","pretot"+nLinea);
		input.setAttribute("name","pretot"+nLinea);
		input.setAttribute("readonly",true);
		input.setAttribute("style","width: 80px;");
		input.setAttribute("class","totalLinea");
		input.setAttribute("editando","si");
		input.value = 0;
		td = document.createElement("TD");
			//td.setAttribute("class","totalLinea");
		td.appendChild(input);
		tr.appendChild(td);
		//Precio Total sin IVA NI DESCUENTO
		input = document.createElement("INPUT");
		input.setAttribute("type","text");
		input.setAttribute("form","formFactura");
		input.setAttribute("id","sinImp"+nLinea);
		input.setAttribute("readonly",true);
		input.setAttribute("style","width: 80px;");
		input.setAttribute("class","sinImpuesto");
		input.setAttribute("editando","si");
		input.value = 0;
		td = document.createElement("TD");
			//td.setAttribute("class","sinImpuesto");
		td.setAttribute("style","display: none;");
		td.appendChild(input);
		tr.appendChild(td);
		
		//button.setAttribute("type","submit");
		var span = document.createElement("SPAN");
		span.setAttribute("class","glyphicon glyphicon-ok");
		button.setAttribute("id","guardarLinea"+nLinea);
		button.setAttribute("onclick","guardarLinea("+nLinea+")");
		button.appendChild(span);
		div.appendChild(button);
		
		button = document.createElement("BUTTON");
		span = document.createElement("SPAN");
		span.setAttribute("class","glyphicon glyphicon-trash");
		button.setAttribute("id","eliminarLinea"+nLinea);
		button.setAttribute("onclick","eliminarLinea("+nLinea+")");
		button.appendChild(span);
		div.appendChild(button);
		
		td = document.createElement("TD");
		td.appendChild(div);
		tr.appendChild(td);
		
		document.getElementById("tbodyLineas").appendChild(tr);
		
		nLinea += 1;
	}
	
	function eliminarLinea(id){
		$("#"+id).remove();
		totales(-1);
	}
	
	function guardarLinea(id){
		celdas = $("#"+id).find("td");
		celdas.each(function(indice){
			if(indice<celdas.length-1){
				/*valorInput = $(this.children).val();
				valorId = $(this.children).attr("id");
				valorname = $(this.children).attr("name");
				$(this.children).remove();
				$(this).text(valorInput);
				$(this).attr("id",valorId);
				$(this).attr("name",valorname);
				$(this).attr("form","formFactura");
				if(indice == 5) this.setAttribute("class","desc");
				if(indice == 6) this.setAttribute("class","iva");
				if(indice == 7) this.setAttribute("class","totalLinea");
				if(indice == 8) this.setAttribute("class","sinImpuesto");*/
				$(this.children).attr("readonly",true);
				$(this.children).attr("editando","no");
				$(this.children).attr("style","font-weight: 600;font-style: italic;");
				if(indice == 2) $(this.children).attr("style","font-weight: 600;font-style: italic; width: 500px;");
				
			}
			else{
				$("#guardarLinea"+id).remove();
				var button = document.createElement("BUTTON");
				var span = document.createElement("SPAN");
				span.setAttribute("class","glyphicon glyphicon-pencil");
				button.setAttribute("id","editarLinea"+id);
				button.setAttribute("onclick","editarLinea("+id+")");
				button.appendChild(span);
				$("#divLinea"+id).append(button);
			}
		});
		totales(-1);
	}
	
	function editarLinea(id){
		celdas = $("#"+id).find("td");
		celdas.each(function(indice){
			if(indice<celdas.length-1){
				if(indice!=1 && indice!=7 && indice!=8 && indice!=9) $(this.children).removeAttr("readonly");
				else $(this.children).attr("editando","si");
				//descuento - no aplicar readonly
				if(indice == 6) $(this.children).attr("editando","si");
				if(indice == 2) $(this.children).attr("style","width: 500px;");
				$(this.children).attr("style","");
			}
			else{
				$("#editarLinea"+id).remove();
				var button = document.createElement("BUTTON");
				var span = document.createElement("SPAN");
				span.setAttribute("class","glyphicon glyphicon-ok");
				button.setAttribute("id","guardarLinea"+id);
				button.setAttribute("onclick","guardarLinea("+id+")");
				button.appendChild(span);
				divLinea = document.getElementById("divLinea"+id);
				divLinea.insertBefore(button,divLinea.childNodes[0]);
			}
		});
		totales(-1);
	}
	
	function totalLinea(id){
		var cantidad = parseFloat($("#cantidad"+id).val());
		var producto = $("#descripcion"+id).val();
		totalSinIva = parseFloat($("#preUni"+id).val())*cantidad;
		descuento = parseFloat($("#desc"+id).val());
		if($("#porciva"+id).val()=="12") iva = 0.12;
		else iva= 0;
		totalIva = totalSinIva * iva;
		total = totalSinIva+totalIva-descuento;
		document.getElementById("iva"+id).value = totalIva;
		document.getElementById("pretot"+id).value = total;
		document.getElementById("sinImp"+id).value = totalSinIva;
	}
	
	function totales(llamadogenerar){
		var subtotalSinImpuestos = 0;
		var totalDescuento = 0;
		var iva = 0;
		var totalfinal = 0;
		var indicador = false;
		var nLineasFactura = "";
		
		$(".lineasFactura").each(function(){
			if(nLineasFactura == "") nLineasFactura = this.id; 
			else nLineasFactura = nLineasFactura+":"+this.id;
		});
		$(".totalLinea").each(function(){
			if($(this).attr("editando") == "no")
				totalfinal = totalfinal+parseFloat(this.value);
			else 
				indicador = true;
		});
		$(".desc").each(function(){
			if($(this).attr("editando") == "no") totalDescuento = totalDescuento+parseFloat(this.value);
		});
		$(".iva").each(function(){
			if($(this).attr("editando") == "no") iva = iva+parseFloat(this.value);
		});
		$(".sinImpuesto").each(function(){
			if($(this).attr("editando") == "no") subtotalSinImpuestos = subtotalSinImpuestos+parseFloat(this.value);
		});
		if (llamadogenerar == 1 && indicador == true){
			alert("hay lineas de la factura sin confirmar, elimine o confirme las líneas antes de generar el total");
		}
		$("#valorTotal").val(totalfinal);
		$("#subtotalSinImpuestos").val(subtotalSinImpuestos);
		$("#iva").val(iva);
		$("#totalDescuento").val(totalDescuento);
		$("#nLineas").val(nLineasFactura);
	}
	
	function llenarLinea(value, n){
		var info;
		info = value.split(":");
		maxStock[info[0]]=parseFloat(info[1]);
		document.getElementById("stock"+n).value = info[1];
		document.getElementById("descripcion"+n).value = info[0];
		document.getElementById("unidades"+n).value = info[2];
		document.getElementById("preUni"+n).value = info[3];
		totalLinea(n);
	}
	
	function datosCliente(value){
		var info;
		info = value.split(":");
		document.getElementById("razonSocial").value = info[0]+" "+info[1];
		document.getElementById("dni").value = info[2];
	}
	
</script>

 {% endblock %}        