{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Registro Usuario {% endblock %} 

{% block extra-style %}
<link href="{% static 'css/formulario.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %} 
<div class="container">
    <form class="form-signin" action="{% url 'SunChoi:useradd' %}" method="post">
        <H1 class="text-center">Registro de Usuario </H1>
        <div class="text-center" >
            {% if mjsexitoso %}
                {{mjsexitoso|capfirst}}
            {% endif %}
        </div>
        <div id="formulario">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="center-block text-center">
            <label class="radio-inline">
                <input name="tipouser" type="radio" value="admin" checked="checked" >Administrador
            </label>
            <label class="radio-inline">
                <input name="tipouser" type="radio" value="empleado" >Empleado</label>
        </div>
        <br/><br/>
        <div class="bock-center text-center">
            <center><input class="btn btn-primary" type="submit" value="Añadir Cliente" />
            <a type="button" href="/usuarios/" class="btn btn-primary btn-danger">Cancelar</a>
            </center>
        </div>
        {% if error %}
            <h2>{{error }}</h2>
        {% endif %} 
    </form>
</div>
{% endblock %}