{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Registro de Ventas {% endblock %} 
{% block content %}
    <div class="container">
         <H1 class="text-center"> Registrar Venta </H1>
        <form  class="form-signin" action="{% url 'SunChoi:padd' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
              {{ form1.as_p }}
             {{ form2.as_p }}
            <input class="btn btn-primary btn-block" type="submit" value="Añadir Factura" />
        </form>
        </div>

 {% endblock %}        