{% extends "SunChoi/base.html" %}
{% load static %}

{% block title %} Registrar Cliente{% endblock %} 
{% block extra-style %}
<link href="{% static 'css/formulario.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %} 
<div class="container">
    <form class="form-signin" action="{% url 'SunChoi:clienteadd' %}" method="post">
        <H1 class="text-center">Registrar Cliente </H1>
        <div class="text-center" >
            {% if mjs %}
                {{mjs|capfirst}}
            {% endif %}
        </div>
		<div id="formulario">
			{% csrf_token %}
			{{ form.as_p }}
		</div>
        <br/><br/>
        <div class="row">
            <div class="col-lg-12 text-center" >
                <input class="btn btn-primary" type="submit" value="Añadir Cliente" />
                <a class="btn btn-primary btn-danger" href="/menuglobal">cancelar/atras</a>
            </div>
        </div>
        
        {% if error %}
            <h2>{{error }}</h2>
        {% endif %} 
	</form>
</div>
{% endblock %}