{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Registrar Producto{% endblock %} 
{% block content %} 
    <div class="container">
        <form class="form-signin" method="POST" action="{% url 'SunChoi:productadd' %}">
            <H1 class="text-center"> Registrar Producto </H1>
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary btn-block" type="submit" value="Registrar producto">
            {% if error %}
                <h2>Nombre de usuario ya existe porfavor ingrese nuevo usuario</h2>
            {% endif %} 
        </form>
    </div>  
{% endblock %}
 