{% extends "SunChoi/base.html" %}
{% load static %}
{% block title %} Registro Usuario {% endblock %} 

{%block subtitulo %} Registro Usuario{% endblock %}

{% block content %} 


    <br/><br/><br/><br/>
    <form method="POST" action="{% url 'SunChoi:useradd' %}">{% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Registrarse">
        {% if error %}
            <h2>Nombre de usuario ya existe porfavor ingrese nuevo usuario</h2>
        {% endif %} 
    </form>
          

    <br />
    <br />


{% endblock %}