{% extends "SunChoi/base_lista.html" %}
{% load static %}

{% block title %} Lista de usuarios{% endblock %} 

{% block tipo %}<h3 class="bock-center text-center" style="font-weight: bold;" >Usuarios</h3>{% endblock %}

{% block registrar %}
<a type="button" href="/registrarusuario/" class="col-md-4 btn btn-primary btn block-center">Registrar Nuevo</a>
{% endblock %}

{%block encabezadotablas%}
  <th>N°          </th>
  <th>DNI         </th>
  <th>NOMBRE      </th>
  <th>USERNAME      </th>
  <th>APELLIDO       </th>
  <th>DIRECCION </th>
  <th>TELEFONO </th>
  <th>CORREO </th>
{% endblock %}

{%block elementostablas%}
  <td>{{ forloop.counter        }}</td>
  <td>{{ registro.dni        }}</td>
  <td>{{ registro.nombre   }}</td>
  <td>{{ registro.usuario   }}</td>
  <td>{{ registro.apellido}} </td>
  <td>{{registro.direccion}}</td>
  <td>{{registro.telefono}}</td>
  <td>{{registro.correo}}</td>
{% endblock %}

{% block hrefeditar %} href="/editarusuario/{{registro.dni}}" 
{% endblock%}

{% block hrefeliminar %} 
  href="/eliminarusuario/{{registro.dni}}" 
{% endblock%}
