@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
/*Global Settings*/
body{
	font-family: 'Lora', serif;
	background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
}

h1{
	font-size: 40px;
	color: white;
}

/*Bootstrap*/
.navbar-ubutia{
	background-image: none;
	background-color: transparent;
	margin-bottom: 0;
	border-radius: 0;
	border-color: transparent;
	transition: all 0.3s ease-in-out;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 5% auto 0% auto;
  background-color: rgba(234, 250, 241, 1);
  border-radius: 3%;
  border: 6px solid rgba(52, 152, 219, 1);
}

.form-signin h1{
	color: black;
	font-weight: bold;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*Helper class*/
.bg-img:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	left: 0;
	top: 0;
}


/*Navigation*/
.navigation-bar{
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	padding: 15px 0;
	font-size: 30px;
}



/*Home page*/


.header{
	/*background-image: url(../img/fondo.jpg);*/
	/*height: 100vh;*/
	position: relative;
	/*min-height: 659px;*/
}

.header h1{
	color: black;
	font-weight: bold;
}

#entrar{
	width: 40%;
	color: white;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
}

#salir{
	width: 40%;
	color: red;
}